@import '_partial.scss' ;


@media (max-width: 918px) {
    body{
        background-color: green;
    }
    

    .principal {
        grid-template-columns: repeat(2,0.5fr)!important;
        grid-template-rows: repeat(6,0.5fr) 0.5fr 0.5fr 455px 455px!important;
        grid-template-areas:
        "text1 text1"
        "img1 img1"
        "img2 img2"
        "text2 text2"
        "img3 img3"
        "img4 img4"
        "Nom Nom"
        "Nom Nom"
        "img5 img6"
        "img7 img8"!important;
    }


    .text4{
       @include set_image_m; 
    }
    .text3{
        @include set_image_m;
    }

    .galerie{
        @include set_image_galerie;
    }

    .client {
        flex-direction: column!important;
        padding: 0px!important;
    }

}
