@mixin titre {
    margin-left: auto;
    margin-right: auto;
    width:445px;
    height:98px;
    font-family: 'Fraunces' , serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
    color: #24303E;
    align-self: center;
}
@mixin texte{
    margin-left: auto;
    margin-right: auto;
    width: 445px;
    height: 90px;
    left: 165px;
    top: 1088px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: #808397;
}
@mixin learn{
    margin-left: auto;
    margin-right: auto;
    width:445px;
    font-family: 'Fraunces' , serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#24303E;
}
@mixin bgtext {
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width:339px ;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */
    text-align: center;
    letter-spacing: -0.114286px;
    color: #19536C;
    }
@mixin bgtitle {
    font-family: 'Fraunces' , serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.2px;
    
}
@mixin avis {
    margin-top:58px ;
    margin-bottom:69px ;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
}
@mixin client {
    margin: 0;
    font-family: 'Fraunces' , serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
}

@mixin travail {
    margin:0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
}