@media (max-width: 918px) {
    body{
        background-color: green;
    }
/*
    #large{
        display: none;
    }
*/
.principal {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 0px 0px;
   grid-auto-flow: row;
    grid-template-areas:
      "text1 text1"
       " img img"
      "img2 img2"
      " text2 text2"
      "img3 img3"
      " img4 img4"
      "Nom Nom"
      " Nom Nom"
      "img5 img6"
       "img7 img8";
      background-color: rgb(128, 128, 128, 0.6);
}


}

@media (max-width: 510px) {
    body{
        background-color: red;
    }

    /*
    #medium{
        display: none;
    }*/
    #test {
        display: flex;
        flex-direction: column;
    }
}

