@media (max-width: 768px) {
    body{
        background-color: green;
    }
/*
    #large{
        display: none;
    }
*/
    .principal{     
    display:grid;
    grid-template-columns: 1fr;

    }
    #{
        grid-column: 1 / 4;

    }
    #{
       grid-column: 1/4; 
    }

}

@media (max-width: 510px) {
    body{
        background-color: red;
    }

    /*
    #medium{
        display: none;
    }*/
    #test {
        display: flex;
        flex-direction: column;
    }
}

