@media (max-width: 918px) {
  body {
    background-color: green;
  }

  .principal {
    grid-template-columns: repeat(2, 0.5fr) !important;
    grid-template-rows: repeat(6, 0.5fr) 0.5fr 0.5fr 455px 455px !important;
    grid-template-areas: "text1 text1" "img1 img1" "img2 img2" "text2 text2" "img3 img3" "img4 img4" "Nom Nom" "Nom Nom" "img5 img6" "img7 img8" !important;
  }

  .text4 {
    height: 1440px !important;
    background-color: aquamarine;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text3 {
    height: 1440px !important;
    background-color: aquamarine;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galerie {
    height: 457.5px !important;
  }

  .client {
    flex-direction: column !important;
    padding: 0px !important;
  }
}
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: auto;
}

a {
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-weight: 900;
}

/*     HEADER     */
header {
  display: flex;
  justify-content: center;
}

.header {
  background-color: aqua;
  /*position:absolute;*/
  width: 100vw;
  height: 800px;
  background-image: url("/image/header-orange.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.entreprise {
  background-image: url("/image/sunnyside.png");
  color: transparent;
  width: 170px;
  height: 33px;
}

.parametre {
  display: flex;
  gap: 90px;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 16px;
  color: #fff;
}
.parametre .menu-droite {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  padding: 10px;
  color: #FFFFFF;
}
.parametre .contact {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303E;
  background: #FFFFFF;
  border-radius: 28px;
  padding: 10px;
}
.parametre .contact .contact_link:visited {
  color: #000;
}
.parametre .contact .contact_link:hover {
  background-color: #78cef5;
  color: #fff;
  border-radius: 28px;
  padding: 10px;
}

.titre {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 150px auto 75px;
}

.fleche {
  margin: auto;
  display: flex;
}

/*         MAIN          */
.principal {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "text1 text1 img1 img1" "img2 img2 text2 text2" "img3 img3 img4 img4" "Nom Nom Nom Nom" "img5 img6 img7 img8";
  background-color: rgba(128, 128, 128, 0.6);
}

.text1 {
  grid-area: text1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.text1 .titre1 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 98px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303E;
  align-self: center;
}
.text1 .texte1 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 90px;
  left: 165px;
  top: 1088px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}
.text1 .learn1 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
}
.text1 .learn-more1 {
  width: 130px;
  text-shadow: 0px 7px 6px rgba(255, 253, 53, 0.9);
}
.text1 .learn-more1:hover {
  text-shadow: 0px 7px 6px #fad400;
}
.text1 .learn-more1:visited {
  color: #000;
}

.img1 {
  grid-area: img1;
  background-image: url("/image/oeuf.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  grid-area: img2;
  background-image: url("/image/verre-rose.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text2 {
  grid-area: text2;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.text2 .titre2 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 98px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303E;
  align-self: center;
}
.text2 .texte2 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 90px;
  left: 165px;
  top: 1088px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}
.text2 .learn2 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
}
.text2 .learn-more2 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
  width: 130px;
  text-shadow: 0px 7px 6px #ffdbd4;
}
.text2 .learn-more2:hover {
  text-shadow: 0px 7px 6px #fe7766;
}
.text2 .learn-more2:visited {
  color: #000;
}

.img3 {
  grid-area: img3;
}

.text3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: justify;
  background-image: url("/image/cerise.png");
  height: 800px !important;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text3 .texte3 {
  margin-left: auto;
  margin-right: auto;
  width: 339px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  text-align: center;
  letter-spacing: -0.114286px;
  color: #19536C;
}
.text3 .titre3 {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.2px;
  width: 221px;
}

.img4 {
  grid-area: img4;
}

.text4 {
  background-image: url("/image/mandarine.png");
  height: 800px !important;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: justify;
}
.text4 .texte4 {
  margin-left: auto;
  margin-right: auto;
  width: 339px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  text-align: center;
  letter-spacing: -0.114286px;
  color: #19536C;
}
.text4 .titre4 {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.2px;
  width: 191px;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.testimonial {
  grid-area: Nom;
  background-color: #FFFFFF;
}
.testimonial .titreclient {
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 5px;
  color: #A7AAAD;
  padding-top: 160px;
  padding-bottom: 81px;
}
.testimonial .client {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.testimonial .client img {
  width: 72px;
  height: 72px;
}
.testimonial .client .emily {
  margin-top: 58px;
  margin-bottom: 69px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
  width: 350px;
  padding-right: 30px;
}
.testimonial .client .emily .name {
  margin: 0;
  font-family: "Fraunces" serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303E;
}
.testimonial .client .emily .travail {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}
.testimonial .client .thomas {
  margin-top: 58px;
  margin-bottom: 69px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
  width: 350px;
}
.testimonial .client .thomas .name {
  margin: 0;
  font-family: "Fraunces" serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303E;
}
.testimonial .client .thomas .travail {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}
.testimonial .client .jennie {
  margin-top: 58px;
  margin-bottom: 69px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
  width: 350px;
  padding-left: 30px;
}
.testimonial .client .jennie .name {
  margin: 0;
  font-family: "Fraunces" serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303E;
}
.testimonial .client .jennie .travail {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}

.img5 {
  grid-area: img5;
  background-image: url("../image/bouteille.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img6 {
  grid-area: img6;
  background-image: url("/image/orange.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img7 {
  grid-area: img7;
  background-image: url("/image/cornet.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img8 {
  grid-area: img8;
  background-image: url("/image/sucre.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*        FOOTER           */
footer {
  display: flex;
  justify-content: center;
}
footer .foot {
  width: 100vw;
  height: 350px;
  background-color: #000000;
}
footer .foot .entreprise-name {
  background-image: url("/image/sunny.svg");
  color: transparent;
  width: 170px;
  height: 33px;
  text-align: center;
  margin: 80px auto 50px;
}
footer .foot .menu-foot {
  display: flex;
  gap: 60px;
  justify-content: center;
  list-style-type: none;
  padding-right: 16px;
  margin: 60px;
}
footer .foot .menu-foot .data-menu-foot {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  padding: 10px;
  color: #FFFFFF;
}
footer .foot .menu-foot-reseau {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
  padding-right: 16px;
}
footer .foot .menu-foot-reseau .reseau-fb {
  background-image: url("/image/facebook.svg");
  color: transparent;
  width: 55px;
  height: 20px;
  background-repeat: no-repeat;
}
footer .foot .menu-foot-reseau .reseau-ig {
  background-image: url("/image/instagram.svg");
  color: transparent;
  width: 55px;
  height: 20px;
  background-repeat: no-repeat;
}
footer .foot .menu-foot-reseau .reseau-t {
  background-image: url("/image/twitter.svg");
  background-repeat: no-repeat;
  color: transparent;
  width: 55px;
  height: 17px;
}
footer .foot .menu-foot-reseau .reseau-pin {
  background-image: url("/image/pinterest.svg");
  color: transparent;
  width: 55px;
  height: 20px;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */