@import "./_mixing.scss" ;



body {
    background-color: rgb(52, 177, 73);
    margin: 0;
    width: auto;
    
}

a{
  text-decoration: none;
  

  &:visited {
    color: #ffffff;
    font-weight: 900;
  }
}


                  /*     HEADER     */




header{
  display: flex;
  justify-content: center;
}

.header {
    background-color: aqua;
    /*position:absolute;*/
    width:100vw;
    height: 800px;
    background-image: url("/image/header-orange.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}



.entreprise{
  background-image: url("./image/sunnyside.png");
  color: transparent;
  width: 170px;
  height: 33px;


}

.parametre{
  display: flex;
  gap:90px;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 16px;
  color: #fff;

  .contact_link{
    &:visited{
      color:#000;
    }
  }


}

.menu-droite{

  font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: -0.128571px;
padding: 10px;
color: #FFFFFF;
}

.contact{

font-family: 'Fraunces 9pt Soft';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
letter-spacing: -0.107143px;
text-transform: uppercase;
color: #24303E;
background-color: #FFFFFF;
background: #FFFFFF;
border-radius: 28px;
padding: 10px;


}

.titre{

  font-family: 'Fraunces 9pt Soft';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin:150px;
  
}

                              /*         MAIN          */



.principal {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
   grid-auto-flow: row;
    grid-template-areas:
      "text1 text1 img img"
      "img2 img2 text2 text2"
      "img3 img3 img4 img4"
      "Nom Nom Nom Nom"
      "img5 img6 img7 img8";
      background-color: rgb(128, 128, 128, 0.6);
}

.text1 {
  grid-area: text1;
  background-color: gold;
  height: 919px;
  align-self: center;
}

.img {
  grid-area: img;
  background-image: url("/image/oeuf.png");
  @include set_image ;


}



.img2 {
  grid-area: img2;
  background-image: url("/image/verre-rose.png");
  @include set_image ;



}

.text2 {
  grid-area: text2;
  background-color: bisque;
}

.img3 {
  grid-area: img3;
  background-image: url("/image/cerise.png");
  @include set_image ;



}

.img4 {
  grid-area: img4;
  background-image: url("/image/mandarine.png");
  @include set_image ;


}

.Nom {
  grid-area: nom;
  background-color: firebrick;
}

.img5 {
  grid-area: img5;
  background-image: url("/image/bouteille.png");
  @include set_image ;


}

.img6 {
  grid-area: img6;
  background-image: url("/image/orange.png");
  @include set_image ;

}

.img7 {
  grid-area: img7;
  background-image: url("/image/cornet.png");
  @include set_image ;


}

.img8 {
  grid-area: img8;
  background-image: url("/image/sucre.png");
  @include set_image ;

 

  
}


                      /*        FOOTER           */





footer{
  display: flex;
  justify-content: center;
}
.foot {
  width: 100vw;
  height: 350px;
  background-color: #90D4C6;

  .entreprise-name{
    background-image: url("/image/sunny.svg");
    color: transparent;
    width: 170px;
    height: 33px;
    text-align: center;
    margin: 80px auto 50px;

  }

  .menu-foot{
    display: flex;
    gap:60px;
    justify-content: center;
    list-style-type: none;
    padding-right: 16px;
    margin: 60px;
  

    .data-menu-foot{

      font-family: 'Barlow';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.128571px;
      padding: 10px;
      color: #FFFFFF;
      }
      
  }

  .menu-foot-reseau{
    display: flex;
    gap:30px;
    justify-content: center;
    list-style-type: none;
    padding-right: 16px;
  
    .reseau-fb{
      background-image: url("/image/facebook.svg");
      color: transparent;
      width: 20px;
      height: 20px;
    }
    .reseau-ig{
      background-image: url("/image/instagram.svg");
      color: transparent;
      width: 20px;
      height: 20px;
    }
    .reseau-t{
      background-image: url("/image/twitter.svg");
      color: transparent;
      width: 20px;
      height: 17px;
    }
    .reseau-pin{
      background-image: url("/image/pinterest.svg");
      color: transparent;
      width: 20px;
      height: 20px;
    }


}


}


