@import '_partial.scss';
@import '_media.scss';

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    width: auto;
    
}

a{
  text-decoration: none;
  

  &:visited {
    color: #ffffff;
    font-weight: 900;
  }
}


                  /*     HEADER     */




header{
  display: flex;
  justify-content: center;
}

.header {
    background-color: aqua;
    /*position:absolute;*/
    width:100vw;
    height: 800px;
    background-image: url("/image/header-orange.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}



.entreprise{
  background-image: url("/image/sunnyside.png");
  color: transparent;
  width: 170px;
  height: 33px;


}

.parametre{
  display: flex;
  gap:90px;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 16px;
  color: #fff;




  .menu-droite{

    font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  padding: 10px;
  color: #FFFFFF;
  }

  .contact{

  font-family: 'Fraunces 9pt Soft';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303E;
  background: #FFFFFF;
  border-radius: 28px;
  padding: 10px;

    .contact_link{
        &:visited{
          color:#000;
        }

        &:hover{
          background-color: #78cef5;
          color: #fff;
          border-radius: 28px;
          padding: 10px;
          
        }
    }


  }
}
.titre{

  font-family: 'Fraunces' ,serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 150px auto 75px;  
}

.fleche {
  margin: auto;
  display: flex;
}

                              /*         MAIN          */



.principal {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.7fr;
    gap: 0px 0px;
   grid-auto-flow: row;
    grid-template-areas:
      "text1 text1 img1 img1"
      "img2 img2 text2 text2"
      "img3 img3 img4 img4"
      "Nom Nom Nom Nom"
      "img5 img6 img7 img8";
      background-color: rgb(128, 128, 128, 0.6);
}

.text1 {
  grid-area: text1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
 
  .titre1{
    @include titre;
  }
  .texte1{
    @include texte;
  }
  .learn1{
   @include learn;
  }
 
  .learn-more1{
    width:130px;
    text-shadow: 0px 7px 6px rgba(255, 253, 53, 0.90);

    &:hover{
      text-shadow: 0px 7px 6px #fad400;
    }
    &:visited{
      color: #000;
    }
  }
  }
  

.img1 {
  grid-area: img1;
  background-image: url("/image/oeuf.png");
  @include set_image_xl ;
}



.img2 {
  grid-area: img2;
  background-image: url("/image/verre-rose.png");
  @include set_image_xl;

}

.text2 {
  grid-area: text2;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  

  .titre2{
    @include titre;
  }
  .texte2{
    @include texte;
  }
  .learn2{
    @include learn;
 
  }

  .learn-more2{
    @include learn;
    width:130px;
    text-shadow: 0px 7px 6px #ffdbd4;

    &:hover{
      text-shadow: 0px 7px 6px #fe7766;
    }
    &:visited{
      color: #000;
    }
  }
}

.img3 {
  grid-area: img3;
  
}
.text3{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: justify;
  background-image: url("/image/cerise.png");
  @include set_image_txt ;
  .texte3{
  @include bgtext;
}
.titre3{
  @include bgtitle;
  width:221px;
  }
}

.img4 {
  grid-area: img4;
  
}

.text4{
  background-image: url("/image/mandarine.png");
  @include set_image_txt ;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: justify;
  .texte4{
    @include bgtext;
  }
  .titre4{
    @include bgtitle;
    width:191px;
    mix-blend-mode: normal;
    opacity: 0.75;
  }
}

.testimonial {
  grid-area: Nom;
  background-color: #FFFFFF;
  .titreclient{
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 5px;
    color: #A7AAAD;
    padding-top: 160px;
    padding-bottom: 81px;
   }
  .client{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img{
        width: 72px ;
        height: 72px;
    }

    .emily{
    @include avis;
      width:350px;
      padding-right: 30px;
      .name{
        @include client;
      }
      .travail{
        @include travail;
      }
    }

    .thomas{
      @include avis;
      width:350px;
      .name{
        @include client;
      }
      .travail{
        @include travail;
      }
    }

    .jennie{
      @include avis;
      width:350px;
      padding-left: 30px;
      .name{
        @include client;
      }
      .travail{
        @include travail;
      }
    }
  }
}



.img5 {
  grid-area: img5;
  background-image: url("/image/bouteille.png");
  @include set_image_xl;

}

.img6 {
  grid-area: img6;
  background-image: url("/image/orange.png");
  @include set_image_xl ;

}

.img7 {
  grid-area: img7;
  background-image: url("/image/cornet.png");
  @include set_image_xl ;

}

.img8 {
  grid-area: img8;
  background-image: url("/image/sucre.png");
  @include set_image_xl ;

}


                      /*        FOOTER           */







footer{
display: flex;
justify-content: center;

  .foot {
  width: 100vw;
  height: 350px;
  background-color: #000000;

    .entreprise-name{
    background-image: url("/image/sunny.svg");
    color: transparent;
    width: 170px;
    height: 33px;
    text-align: center;
    margin: 80px auto 50px;

    }

    .menu-foot{
    display: flex;
    gap:60px;
    justify-content: center;
    list-style-type: none;
    padding-right: 16px;
    margin: 60px;


      .data-menu-foot{

      font-family: 'Barlow';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.128571px;
      padding: 10px;
      color: #FFFFFF;
      }

    }

    .menu-foot-reseau{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap:30px;
    padding-right: 16px;

      .reseau-fb{
      background-image: url("/image/facebook.svg");
       @include set_logo_reseau
      }
      .reseau-ig{
      background-image: url("/image/instagram.svg");
      @include set_logo_reseau
      }
      .reseau-t{
      background-image: url("/image/twitter.svg");
      background-repeat: no-repeat;
      color: transparent;
      width: 55px;
      height: 17px;
      }
      .reseau-pin{
      background-image: url("/image/pinterest.svg");
      @include set_logo_reseau
      }

    }

  }
}
