body {
    background-color: coral;
}

.header {
    background-color: aqua;
    width: 250px;
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
   grid-auto-flow: row;
    grid-template-areas:
      "text1 text1 img img"
      "img2 img2 text2 text2"
      "img3 img3 img4 img4"
      "Nom Nom Nom Nom"
      "img5 img6 img7 img8";
      background-color: grey;

}

.text1 {
    grid-area: text1;
    background-color: gold;
    height: 250px;
   }  

  .img { 
      grid-area: img; 
      background-color: aqua;
      height: 600px;
    }
    
    .text2 {
        grid-area: text2;
        background-color: bisque;
        height: 250px;
      }

  .img2 { 
      grid-area: img2; 
      background-color: aquamarine;
      height: 600px;
    }

  
  .img3 {
       grid-area: img3; 
       background-color: green;
       height: 250px;
    }
  
  .img4 {
       grid-area: img4;
       background-color:violet ;
       height: 250px;
     }
  
  .Nom { 
      grid-area: nom;
      background-color: firebrick;
      height: 250px;
    }
 
    .img5 {
        grid-area: img5; 
        background-color: mediumorchid;
        height: 250px;
     }

  .img6 {
       grid-area: img6; 
       background-color: darkkhaki;
       height: 250px;
    }
  
  .img7 {
       grid-area: img7; 
       background-color: lightcoral;
       height: 250px;
    }
  
  .img8 {
       grid-area: img8;
       background-color: royalblue;
       height: 250px;
     }
  

  

