body {
  background-color: rgb(52, 177, 73);
  margin: 0;
  width: auto;
}

a {
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-weight: 900;
}

/*     HEADER     */
header {
  display: flex;
  justify-content: center;
}

.header {
  background-color: aqua;
  /*position:absolute;*/
  width: 100vw;
  height: 800px;
  background-image: url("/image/header-orange.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.entreprise {
  background-image: url("./image/sunnyside.png");
  color: transparent;
  width: 170px;
  height: 33px;
}

.parametre {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 16px;
  color: #fff;
}
.parametre .contact_link:visited {
  color: #000;
}

.menu-droite {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  padding: 10px;
  color: #FFFFFF;
}

.contact {
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303E;
  background-color: #FFFFFF;
  background: #FFFFFF;
  border-radius: 28px;
  padding: 10px;
}

.titre {
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 150px;
}

/*         MAIN          */
.principal {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "text1 text1 img img" "img2 img2 text2 text2" "img3 img3 img4 img4" "Nom Nom Nom Nom" "img5 img6 img7 img8";
  background-color: rgba(128, 128, 128, 0.6);
}

.text1 {
  grid-area: text1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.text1 .titre1 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 98px;
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303E;
}
.text1 .texte1 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 90px;
  left: 165px;
  top: 1088px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}
.text1 .learn1 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
}

.img {
  grid-area: img;
  background-image: url("/image/oeuf.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  grid-area: img2;
  background-image: url("/image/verre-rose.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text2 {
  grid-area: text2;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.text2 .titre2 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 98px;
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303E;
}
.text2 .texte2 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  height: 90px;
  left: 165px;
  top: 1088px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}
.text2 .learn2 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
  font-family: "Fraunces 9pt Soft";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
}

.img3 {
  grid-area: img3;
  background-image: url("/image/cerise.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  grid-area: img4;
  background-image: url("/image/mandarine.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Nom {
  grid-area: nom;
  background-color: firebrick;
}

.img5 {
  grid-area: img5;
  background-image: url("/image/bouteille.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img6 {
  grid-area: img6;
  background-image: url("/image/orange.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img7 {
  grid-area: img7;
  background-image: url("/image/cornet.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img8 {
  grid-area: img8;
  background-image: url("/image/sucre.png");
  height: auto;
  background-color: aquamarine;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*        FOOTER           */
footer {
  display: flex;
  justify-content: center;
}

.foot {
  width: 100vw;
  height: 350px;
  background-color: #90D4C6;
}
.foot .entreprise-name {
  background-image: url("/image/sunny.svg");
  color: transparent;
  width: 170px;
  height: 33px;
  text-align: center;
  margin: 80px auto 50px;
}
.foot .menu-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-right: 16px;
  margin: 60px;
}
.foot .menu-foot .data-menu-foot {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  padding: 10px;
  color: #FFFFFF;
}
.foot .menu-foot-reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-right: 16px;
}
.foot .menu-foot-reseau .reseau-fb {
  background-image: url("/image/facebook.svg");
  color: transparent;
  width: 20px;
  height: 20px;
}
.foot .menu-foot-reseau .reseau-ig {
  background-image: url("/image/instagram.svg");
  color: transparent;
  width: 20px;
  height: 20px;
}
.foot .menu-foot-reseau .reseau-t {
  background-image: url("/image/twitter.svg");
  color: transparent;
  width: 20px;
  height: 17px;
}
.foot .menu-foot-reseau .reseau-pin {
  background-image: url("/image/pinterest.svg");
  color: transparent;
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */